#image-link:hover {
    background: transparent;

    img {
        width: auto;
    }
}

.sidenavElement {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 48px;
}