<span [ngSwitch]="element.type">
    <!-- Title -->
    <h1 mat-menu-item disabled *ngSwitchCase="'title'" [class.sidenavElement]="sidenavElement">
        <i *ngIf="NavUtilities.asTitle(element).icon" [class]="NavUtilities.asTitle(element).icon"></i>
        {{NavUtilities.asTitle(element).title}}
    </h1>
    <!-- Title with internal link -->
    <a id="title-link" disableRipple mat-menu-item *ngSwitchCase="'titleWithInternalLink'"
        [routerLink]="      
            NavUtilities.asAngularRoute(NavUtilities.asTitleWithInternalLink(element).link.route).path !== undefined
            ? NavUtilities.asAngularRoute(NavUtilities.asTitleWithInternalLink(element).link.route).path
            : NavUtilities.asStringRoute(NavUtilities.asTitleWithInternalLink(element).link.route)"
        [target]="NavUtilities.asTitleWithInternalLink(element).link.openInNewTab ? '_blank' : '_self'"
        [rel]="NavUtilities.asTitleWithInternalLink(element).link.openInNewTab ? 'noreferrer noopener' : undefined"
        [class.sidenavElement]="sidenavElement"
    >
        <h1>
            <i *ngIf="NavUtilities.asTitle(element).icon" [class]="NavUtilities.asTitle(element).icon"></i>
            {{NavUtilities.asTitle(element).title}}
        </h1>
    </a>
    <!-- Title with external link -->
    <a class="title-link" disableRipple mat-menu-item *ngSwitchCase="'titleWithExternalLink'"
        [href]="NavUtilities.asTitleWithExternalLink(element).link.url"
        [target]="NavUtilities.asTitleWithExternalLink(element).link.openInNewTab ? '_blank' : '_self'"
        [rel]="NavUtilities.asTitleWithExternalLink(element).link.openInNewTab ? 'noreferrer noopener' : undefined"
        [class.sidenavElement]="sidenavElement"
    >
        <h1>
            <i *ngIf="NavUtilities.asTitle(element).icon" [class]="NavUtilities.asTitle(element).icon"></i>
            {{NavUtilities.asTitle(element).title}}
        </h1>
    </a>
    <!-- Image -->
    <img mat-menu-item disabled *ngSwitchCase="'image'"
        [class.sidenavElement]="sidenavElement"
        [src]="NavUtilities.asImage(element).url"
    >
    <!-- Image with internal link -->
    <a id="image-link" disableRipple mat-menu-item *ngSwitchCase="'imageWithInternalLink'"
        [routerLink]="
            NavUtilities.asAngularRoute(NavUtilities.asImageWithInternalLink(element).link.route).path !== undefined
            ? NavUtilities.asAngularRoute(NavUtilities.asImageWithInternalLink(element).link.route).path
            : NavUtilities.asStringRoute(NavUtilities.asImageWithInternalLink(element).link.route)"
        [target]="NavUtilities.asImageWithInternalLink(element).link.openInNewTab ? '_blank' : '_self'"
        [rel]="NavUtilities.asImageWithInternalLink(element).link.openInNewTab ? 'noreferrer noopener' : undefined"
        [class.sidenavElement]="sidenavElement"
    >
        <img [src]="NavUtilities.asImageWithInternalLink(element).url">
    </a>
    <!-- Image with external link -->
    <a id="image-link" disableRipple mat-menu-item *ngSwitchCase="'imageWithExternalLink'"
        [href]="NavUtilities.asImageWithExternalLink(element).link.url"
        [target]="NavUtilities.asImageWithExternalLink(element).link.openInNewTab ? '_blank' : '_self'"
        [rel]="NavUtilities.asImageWithExternalLink(element).link.openInNewTab ? 'noreferrer noopener' : undefined"
        [class.sidenavElement]="sidenavElement"
    >
        <img [src]="NavUtilities.asImageWithExternalLink(element).url">
    </a>
    <!-- Button -->
    <button *ngSwitchCase="'button'"
        mat-raised-button
        (click)="NavUtilities.asButton(element).action()"
        [class.sidenavElementButton]="sidenavElement"
    >
        <i *ngIf="NavUtilities.asButton(element).icon" [class]="NavUtilities.asButton(element).icon"></i>
        {{NavUtilities.asButton(element).name}}
    </button>
    <!-- Internal Link -->
    <a mat-button *ngSwitchCase="'internalLink'"
        [routerLink]="
            NavUtilities.asAngularRoute(NavUtilities.asInternalLink(element).route).path !== undefined
            ? NavUtilities.asAngularRoute(NavUtilities.asInternalLink(element).route).path
            : NavUtilities.asStringRoute(NavUtilities.asInternalLink(element).route)"
        [target]="NavUtilities.asInternalLink(element).openInNewTab ? '_blank' : '_self'"
        [rel]="NavUtilities.asInternalLink(element).openInNewTab ? 'noreferrer noopener' : undefined"
        [class.sidenavElement]="sidenavElement"
    >
        <i *ngIf="NavUtilities.asInternalLink(element).icon" [class]="NavUtilities.asInternalLink(element).icon"></i> 
        {{NavUtilities.asInternalLink(element).name}}
    </a>
    <!-- External Link -->
    <span *ngSwitchCase="'externalLink'">
        <a mat-button
            [href]="NavUtilities.asExternalLink(element).url"
            [target]="NavUtilities.asExternalLink(element).openInNewTab ? '_blank' : '_self'"
            [rel]="NavUtilities.asExternalLink(element).openInNewTab ? 'noreferrer noopener' : undefined"
            [class.sidenavElement]="sidenavElement"
        >
            <i *ngIf="NavUtilities.asExternalLink(element).icon" [class]="NavUtilities.asExternalLink(element).icon"></i>
            {{NavUtilities.asExternalLink(element).name}}
        </a>
    </span>
    <!-- Menu -->
    <button #menuButton *ngSwitchCase="'menu'" mat-button [matMenuTriggerFor]="menu.menu" [class.sidenavElement]="sidenavElement">
        <i *ngIf="NavUtilities.asMenu(element).icon" [class]="NavUtilities.asMenu(element).icon"></i>
        {{NavUtilities.asMenu(element).name}}
    </button>
    <ngx-mat-navigation-menu #menu
        [navMenu]="NavUtilities.asMenu(element)"
        [sidenav]="sidenav"
        [menuWidth]="menuWidth">
    </ngx-mat-navigation-menu>
    
</span>