<!-- eslint-disable angular/cyclomatic-complexity -->
<!-- eslint-disable angular/no-call-expression -->
<nav #navbar id="toolbar" [style.min-height.px]="minHeight ?? 0">
    @for (row of navbarRows; track $index) {
        @if (getNavbarElements(row, 'left').length || getNavbarElements(row, 'center').length || getNavbarElements(row, 'right').length || $index === 0) {
            <div class="toolbar-row">
                <div class="toolbar-col">
                    @for (element of getNavbarElements(row, 'left'); track element.id) {
                        <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element" [(sidenavOpened)]="sidenavOpened" (click)="clickSidenavElement(element)"></ngx-mat-navigation-element>
                    }
                </div>
                <div class="toolbar-col">
                    @for (element of getNavbarElements(row, 'center'); track element.id) {
                        <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element" [(sidenavOpened)]="sidenavOpened" (click)="clickSidenavElement(element)"></ngx-mat-navigation-element>
                    }
                </div>
                <div class="toolbar-col">
                    @for (element of getNavbarElements(row, 'right'); track element.id) {
                        <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element" [(sidenavOpened)]="sidenavOpened" (click)="clickSidenavElement(element)"></ngx-mat-navigation-element>
                    }
                    @if ($index === 0) {
                        <ngx-mat-navigation-element [class]="getBurgerMenuClass()" [element]="burgerMenu"></ngx-mat-navigation-element>
                    }
                </div>
            </div>
        }
    }
    @if (navService.anchorRow.elements.length) {
        <div class="anchor-row">
            <div class="anchor-row-content">
                @for (element of navService.anchorRow.elements; track element.id) {
                    <ngx-mat-navigation-element [element]="element" [(sidenavOpened)]="sidenavOpened" (click)="clickSidenavElement(element)"></ngx-mat-navigation-element>
                }
            </div>
        </div>
    }
</nav>

<div #content class="content" [style.min-height]="sanitizedContentMinHeight">
    <ng-content></ng-content>
</div>

@if (this.navbar && this.content) {
    <div class="sidenav"
        [class.open]="sidenavOpened"
        [style.min-width]="sidenavOpened ? minSidenavWidth : undefined"
        [style.width.px]="sidenavOpened ? undefined : 0"
        [style.top.px]="this.navbar.nativeElement.offsetHeight"
        [style.height.px]="this.content.nativeElement.offsetHeight"
    >
        @for (element of sidenavElements; track element.id) {
            <div class="sidenav-row">
                <ngx-mat-navigation-element
                    [class]="getElementClass(element)"
                    [isSidenavElement]="true"
                    [element]="element"
                    [(sidenavOpened)]="sidenavOpened"
                    (click)="clickSidenavElement(element)"
                >
                </ngx-mat-navigation-element>
            </div>
        }
    </div>
    @if (sidenavOpened) {
        <div class="sidenav-backdrop"
            [class.open]="sidenavOpened"
            [style.top.px]="this.navbar.nativeElement.offsetHeight"
            [style.height.px]="this.content.nativeElement.offsetHeight"
            (click)="sidenavOpened = false"
        >
        </div>
    }
}