<!-- eslint-disable angular/no-call-expression -->

@if (allNavbarRows.length > 1) {
    <mat-toolbar #navbar id="toolbar" class="mat-elevation-z8" [style.min-height.px]="minHeight ?? 0">
        @for (row of navbarRows; track $index) {
            <mat-toolbar-row class="toolbar-row">
                <div class="toolbar-col">
                    @for (element of getNavbarElements(row, 'left'); track $index) {
                        <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element"></ngx-mat-navigation-element>
                    }
                </div>
                <div class="toolbar-col">
                    @for (element of getNavbarElements(row, 'center'); track $index) {
                        <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element"></ngx-mat-navigation-element>
                    }
                </div>
                <div class="toolbar-col">
                    @for (element of getNavbarElements(row, 'right'); track $index) {
                        <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element"></ngx-mat-navigation-element>
                    }
                    @if ($index === 0) {
                        <ngx-mat-navigation-element [class]="getBurgerMenuClass()" [element]="burgerMenu"></ngx-mat-navigation-element>
                    }
                </div>
            </mat-toolbar-row>
        }
        @if (navService.anchorRow.elements.length) {
            <mat-toolbar-row class="anchor-row">
                @for (element of navService.anchorRow.elements; track $index) {
                    <ngx-mat-navigation-element [element]="element"></ngx-mat-navigation-element>
                }
            </mat-toolbar-row>
        }
    </mat-toolbar>
}
@else {
    <mat-toolbar #navbar id="toolbar" class="mat-elevation-z8" [style.min-height.px]="minHeight ?? 0">
        <div class="toolbar-row">
            <div class="toolbar-col">
                @for (element of getNavbarElements(navbarRows[0], 'left'); track $index) {
                    <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element"></ngx-mat-navigation-element>
                }
            </div>
            <div class="toolbar-col">
                @for (element of getNavbarElements(navbarRows[0], 'center'); track $index) {
                    <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element"></ngx-mat-navigation-element>
                }
            </div>
            <div class="toolbar-col">
                @for (element of getNavbarElements(navbarRows[0], 'right'); track $index) {
                    <ngx-mat-navigation-element [class]="getElementClass(element)" [element]="element"></ngx-mat-navigation-element>
                }
                <ngx-mat-navigation-element [class]="getBurgerMenuClass()" [element]="burgerMenu"></ngx-mat-navigation-element>
            </div>
        </div>
    </mat-toolbar>
}

<mat-sidenav-container [style.min-height]="sanitizedMinHeight">
    <mat-sidenav #sidenav position="end" [style.min-width]="minSidenavWidth" [autoFocus]="false">
        @for (element of sidenavElements; track $index) {
            <div class="sidenav-row">
                <ngx-mat-navigation-element [class]="getElementClass(element)" [sidenav]="sidenav" [isSidenavElement]="true" [element]="element" (click)="clickSidenavElement(element)"></ngx-mat-navigation-element>
            </div>
        }
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>