$navPadding: 16px;

nav {
    height: auto;
    justify-content: center;
    padding: $navPadding;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2),
        0px 0px 8px 5px rgba(0, 0, 0, 0.14),
        0px 0px 14px 8px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: max(80%, 1200px);
    margin-left: auto;
    margin-right: auto;
}

.toolbar-col {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.anchor-row {
    border-top: 1px solid rgb(200, 200, 200);
    margin-top: 6px;
    padding-left: $navPadding;
    margin-left: -$navPadding;
    padding-right: $navPadding;
    margin-right: -$navPadding;
    margin-bottom: -$navPadding;
}

.anchor-row-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    width: 100%;
    max-width: max(80%, 1200px);
    margin-left: auto;
    margin-right: auto;
}

ngx-mat-navigation-element {
    display: inline-flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.sidenav {
    position: absolute;
    right: 0;
    background-color:  white;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    z-index: 2;
    box-sizing: border-box;

    transform: translateX(100%);
    transition: transform 300ms;
    opacity: 0;
}
.sidenav.open {
    transform: translateX(0%);
    opacity: 1;
    padding: $navPadding;
}

.sidenav-backdrop {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.45);
    z-index: 1;

    opacity: 0;
    transition: opacity 300ms;
}
.sidenav-backdrop.open {
    opacity: 1;
}

.sidenav-row {
    .collapse-lg, .collapse-md, .collapse-sm, .collapse-never {
        display: none;
    }
}

.burger-lg, .burger-md, .burger-sm, .burger-never {
    display: none;
}

@media (max-width: 1199px) {
    .toolbar-col {
        .collapse-lg {
            display: none;
        }
        .burger-lg {
            display: inline-flex;
        }
    }
    .sidenav-row {
        .collapse-lg {
            display: block;
        }
    }
}

@media (max-width: 991px) {
    .toolbar-col {
        .collapse-md {
            display: none;
        }
        .burger-md {
            display: inline-flex;
        }
    }
    .sidenav-row {
        .collapse-md {
            display: block;
        }
    }
}

@media (max-width: 767px) {
    .toolbar-col {
        .collapse-sm {
            display: none;
        }
        .burger-sm {
            display: inline-flex;
        }
    }
    .sidenav-row {
        .collapse-sm {
            display: block;
        }
    }
}