<!-- eslint-disable angular/no-call-expression -->
<footer [style.min-height.px]="minHeight">
    @for (row of footerRows; track $index) {
        <div class="footer-row">
            <div class="footer-col" id="left">
                @for (element of getFooterElements(row, 'left'); track $index) {
                    <ngx-mat-navigation-element [element]="element"></ngx-mat-navigation-element>
                }
            </div>
            <div class="footer-col" id="center">
                @for (element of getFooterElements(row, 'center'); track $index) {
                    <ngx-mat-navigation-element [element]="element"></ngx-mat-navigation-element>
                }
            </div>
            <div class="footer-col" id="right">
                @for (element of getFooterElements(row, 'right'); track $index) {
                    <ngx-mat-navigation-element [element]="element"></ngx-mat-navigation-element>
                }
            </div>
        </div>
    }
</footer>