h1 {
    margin-bottom: 0px;
}

#title-link {
    text-decoration: none;
    color: inherit;
}

#title-link:hover {
    background: transparent;
}

.sidenavElement {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 48px;
}