b {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: x-large;
}

.title-link {
    text-decoration: none;
    color: inherit;
}

.sidenavElement {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}