<a class="image-link" disableRipple
    [href]="elementValue.link.url"
    [target]="elementValue.link.openInNewTab ? '_blank' : '_self'"
    [rel]="elementValue.link.openInNewTab ? 'noreferrer noopener' : undefined"
    [class.sidenavElement]="isSidenavElement"
    [class.menuItem]="isMenuItem"
>
    <!-- eslint-disable-next-line angular/prefer-ngsrc -->
    <img width="auto" [alt]="elementValue.alt" [height]="elementValue.height" [style.height]="elementValue.height" [src]="elementValue.url">
</a>