<a class="title-link" disableRipple
    [href]="elementValue.link.url"
    [target]="elementValue.link.openInNewTab ? '_blank' : '_self'"
    [rel]="elementValue.link.openInNewTab ? 'noreferrer noopener' : undefined"
    [class.sidenavElement]="isSidenavElement"
    [class.menuItem]="isMenuItem"
    [attr.aria-label]="elementValue.ariaLabel"
>
    <h1>
        @if (elementValue.icon) {
            <fa-icon [icon]="elementValue.icon"></fa-icon>
        }
        {{elementValue.title}}
    </h1>
</a>