.sidenavElement {
    display: inline-block;
    width: 100%;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

button {
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: all 200ms;
    font-weight: bold;
}
button:hover {
    color: gray;
}