<!-- eslint-disable angular/cyclomatic-complexity -->
@switch (element.type) {
    <!-------------------------------------------->
    <!------------------Titles-------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.TITLE) {
        <nav-title [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-title>
    }
    @case (NavElementTypes.TITLE_WITH_INTERNAL_LINK) {
        <nav-title-with-internal-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-title-with-internal-link>
    }
    @case (NavElementTypes.TITLE_WITH_EXTERNAL_LINK) {
        <nav-title-with-external-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-title-with-external-link>
    }
    <!-------------------------------------------->
    <!-------------------Images------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.IMAGE) {
        <nav-image [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-image>
    }
    @case (NavElementTypes.IMAGE_WITH_INTERNAL_LINK) {
        <nav-image-with-internal-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-image-with-internal-link>
    }
    @case (NavElementTypes.IMAGE_WITH_EXTERNAL_LINK) {
        <nav-image-with-external-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-image-with-external-link>
    }
    <!-------------------------------------------->
    <!-------------------Buttons------------------>
    <!-------------------------------------------->
    @case (NavElementTypes.BUTTON) {
        <nav-button [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-button>
    }
    @case (NavElementTypes.BUTTON_FLAT) {
        <nav-button-flat [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-button-flat>
    }
    <!-------------------------------------------->
    <!--------------------Link-------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.INTERNAL_LINK) {
        <nav-internal-link [element]="element" [isBreadcrumb]="false" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-internal-link>
    }
    @case (NavElementTypes.EXTERNAL_LINK) {
        <nav-external-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-external-link>
    }
    <!-------------------------------------------->
    <!-------------------CUSTOM------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.CUSTOM) {
        <div [class.menuItem]="internalIsMenuItem" (click)="clickSidenavElement(element); clickMenuItem(element);">
            <nav-custom
                [element]="element" 
                [isSidenavElement]="internalIsSidenavElement"
                [isMenuItem]="internalIsMenuItem"
            >
            </nav-custom>
        </div>
    }
    <!-------------------------------------------->
    <!--------------------TEXT-------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.TEXT) {
        <nav-text [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-text>
    }
    <!-------------------------------------------->
    <!--------------------Menu-------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.MENU) {
        <button
            #menuButton="cdkMenuTriggerFor"
            #menuButtonElement
            type="button"
            disableHover
            [cdkMenuTriggerFor]="menu"
            [class.sidenavElement]="internalIsSidenavElement"
            [class.menuItem]="internalIsMenuItem"
            [attr.aria-label]="element.ariaLabel"
        >
            {{elementMenu.name}}
            @if (elementMenu.iconState !== 'empty') {
                <!-- eslint-disable-next-line angular/no-call-expression -->
                <fa-icon [icon]="elementMenu.iconState" [class.open]="menuButton.isOpen()"></fa-icon>
            }
        </button>

        <ng-template #menu>
            <div class="menu" cdkMenu [class.subMenu]="internalIsMenuItem" [style.min-width.px]="menuWidth">
                @for (menuElement of elementMenu.elements; track menuElement.id) {
                    <ngx-mat-navigation-element
                        [isSidenavElement]="internalIsSidenavElement"
                        [isMenuItem]="true"
                        [element]="menuElement"
                        [parentMenusButtons]="internalParentMenusButtons"
                        [(sidenavOpened)]="sidenavOpened"
                        (click)="clickSidenavElement(menuElement); clickMenuItem(menuElement);"
                    >
                    </ngx-mat-navigation-element>
                }
            </div>
        </ng-template>
    }
}