nav-image-with-internal-link, nav-image-with-external-link {
    display: inline-flex;
}

.sidenavElement {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 48px;
}

.customMenuItem {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% - 24px);
}

::ng-deep {
    .mat-mdc-menu-content.mdc-list {
        padding: 8px;
    }

    .mat-mdc-menu-panel.mat-mdc-menu-panel.mdc-menu-surface {
        max-width: none;
    }
}