@switch (element.type) {
    <!-------------------------------------------->
    <!------------------Titles-------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.TITLE) {
        <nav-title [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-title>
    }
    @case (NavElementTypes.TITLE_WITH_INTERNAL_LINK) {
        <nav-title-with-internal-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-title-with-internal-link>
    }
    @case (NavElementTypes.TITLE_WITH_EXTERNAL_LINK) {
        <nav-title-with-external-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-title-with-external-link>
    }
    <!-------------------------------------------->
    <!-------------------Images------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.IMAGE) {
        <nav-image [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-image>
    }
    @case (NavElementTypes.IMAGE_WITH_INTERNAL_LINK) {
        <nav-image-with-internal-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-image-with-internal-link>
    }
    @case (NavElementTypes.IMAGE_WITH_EXTERNAL_LINK) {
        <nav-image-with-external-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-image-with-external-link>
    }
    <!-------------------------------------------->
    <!-------------------Buttons------------------>
    <!-------------------------------------------->
    @case (NavElementTypes.BUTTON) {
        <nav-button [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-button>
    }
    @case (NavElementTypes.BUTTON_FLAT) {
        <nav-button-flat [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-button-flat>
    }
    <!-------------------------------------------->
    <!--------------------Link-------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.INTERNAL_LINK) {
        <nav-internal-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-internal-link>
    }
    @case (NavElementTypes.EXTERNAL_LINK) {
        <nav-external-link [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-external-link>
    }
    <!-------------------------------------------->
    <!-------------------CUSTOM------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.CUSTOM) {
        <nav-custom [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-custom>
    }
    <!-------------------------------------------->
    <!--------------------TEXT-------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.TEXT) {
        <nav-text [element]="element" [isSidenavElement]="internalIsSidenavElement" [isMenuItem]="internalIsMenuItem"></nav-text>
    }
    <!-------------------------------------------->
    <!--------------------Menu-------------------->
    <!-------------------------------------------->
    @case (NavElementTypes.MENU) {
        @if (internalIsMenuItem) {
            <button #menuButton
                type="button"
                mat-menu-item
                style="padding-left: 12px; padding-right: 12px;"
                [matMenuTriggerFor]="menu"
                [class.sidenavElement]="isSidenavElement"
                [attr.aria-label]="element.ariaLabel"
            >
                @if (elementMenu.icon) {
                    <i [ngClass]="elementMenu.icon"></i>
                }
                {{elementMenu.name}}
            </button>
        }
        @else {
            <button #menuButton
                type="button"
                mat-button
                [matMenuTriggerFor]="menu"
                [class.sidenavElement]="isSidenavElement"
                [attr.aria-label]="element.ariaLabel"
            >
                @if (elementMenu.icon) {
                    <i [ngClass]="elementMenu.icon"></i>
                }
                {{elementMenu.name}}
            </button>
        }
    }
}

<mat-menu #menu="matMenu" [overlapTrigger]="false" [style.min-width.px]="menuWidth">
    @for (menuElement of elementMenu.elements; track $index) {
        <div>
            <ngx-mat-navigation-element [isSidenavElement]="internalIsSidenavElement" [sidenav]="sidenav" [isMenuItem]="true" [element]="menuElement" (click)="clickSidenavElement(menuElement)">
            </ngx-mat-navigation-element>
        </div>
    }
</mat-menu>